common: &common
  database: <%= db_name %>
  host: localhost
  pool: 50
  timeout: 5000
  reaping_frequency: 1000
  min_messages: ERROR

sqlite:
  <<: *common
  adapter: <%= "jdbc" if defined? JRUBY_VERSION %>sqlite3

postgresql:
  <<: *common
  adapter: postgresql
  username: postgres

mysql:
  <<: *common
  adapter: mysql2
  username: root
