name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      RAILS_VERSION: ${{ matrix.rails }}
      RAILS_ENV: test
      DATABASE_URL_PG: postgres://postgres:postgres@127.0.0.1:5432/closure_tree_test
      DATABASE_URL_MYSQL: mysql2://root:root@127.0.0.1:3306/closure_tree_test
      DATABASE_URL_SQLITE3: 'sqlite3::memory:'
      WITH_ADVISORY_LOCK_PREFIX: ${{ github.run_id }}

    services:
      postgres:
        image: postgres:17-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: closure_tree_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      mysql:
        image: mysql:8
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: closure_tree_test
          MYSQL_ROOT_PASSWORD: root
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.4'
          - '4.0'
        rails:
          - '7.2'
          - '8.0'
          - '8.1.1'
          - 'edge'

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          rubygems: latest

      - name: Setup databases
        run: |
          cd test/dummy
          bundle exec rails db:setup_all

      - name: Run tests
        run: |
          bundle exec rake test
